<html>
<head>
</head>
<body>
<div>
<h1 style="color:black;">That was an error</h1><br>
<p style="color:black;">Make sure that you entered a valid hostname or IP address, without spaces or special characters.</p>
<!-- <script>
alert("Input Sanitized");
while(true){
    console.error("nice try nerd")
}
</script>
-->
<script>
            document.domain = "cachical.com"
        </script>
  <script src="https://aurora.cachical.com/ajax/libs/iframe-resizer/4.2.10/iframeResizer.contentWindow.min.js"></script>

</div>
</body>
</html>
